<section class="card" id="atsSection">
        <center>
            <h3>ATS Score</h3>

            <div class="ats-ring" id="atsRing">
                <div class="ats-inner">
                    <span id="atsScore">0%</span>
                </div>
            </div>
        </center>

        <h4 style="margin-top: 20px;">Resume Strength</h4>
        <div class="strength-bar">
            <div class="strength-fill" id="strengthFill"></div>
        </div>
        <span id="strengthScore">0 / 10</span>
</section>