
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/register.css" %}">
</head>
<body>

    {% block auth_content %}
    <div class="container">

        <h2>Login</h2>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            
        <div class="google-login-section">
            <button type="submit">Login</button>
        </form>

            <div class="divider">

                <span>OR</span>

            </div>

            <a
                href="/accounts/google/login/"
                class="google-login-btn"
            >

               <img src="{% static 'icons/google.png' %}" alt="Google" width="30px"><span>Continue with Google</span>

            </a>

        </div>
        <p style="text-align: center;">New User? Register here.</p>
        <button type="button" onclick='location.href="{% url 'users:register' %}"'>Register</button>
        {% include 'components/loading.html' %}

    </div>
    <script>
        const loginForm = document.querySelector("form");

        loginForm.addEventListener("submit", () => {

            document
                .getElementById("loadingOverlay")
                .classList.remove("hidden");

        });
    </script>
    <script src="{% static 'js/app.js' %}"></script>

    {% endblock %}
</body>
</html>